.login--form, 
.login--form__hidden,
.login--form__error{
  display: grid;
  padding: 20px;
  grid-template-columns:1fr 1fr;
  gap: 1.8rem;
  overflow: hidden;
  z-index: 0;
}

.login--form, 
.login--form__error{
  visibility: visible;
  opacity: 1;
  margin-right: 0;
  width: 100%; 
}

.login--form__error{
  grid-template-rows: 40px 40px 40px max-content 48px;
  grid-template-areas: "first last" "email email" "password password" "error error" "button button";

}

.login--form__hidden{
  margin-right: -100%;
  opacity: 0;
  width: 0;
  transition: all .5s;
  visibility: hidden;
  height: 0px;
  grid-template-rows: 40px 40px 40px 48px;
  grid-template-areas: "first last" "email email" "password password" "button button";
}


.login--form{
  transition: all .5s;
  grid-template-rows: 40px 40px 40px 48px;
  grid-template-areas: "first last" "email email" "password password" "button button";
}



.login--form input, 
.login--form__hidden input, 
.login--form__error input {
  padding: 0px;
  font-size: 18px;
  width: 100%;
  padding-left: 5px;
  border: none;
  border-bottom: 1px solid var(--clr--secondary--fade);
  color: var(--clr--primary);
}

.login--form input, .login--form__error input{
  visibility: visible;
}

.login--form__hidden input{
  visibility: hidden;
}

.email{
  grid-area: email;
}

.password{
  grid-area: password;
}

.error{
  display: block;
  grid-area: error;

}

.error__hidden{
 display: none;
}

.login--button{
  grid-area: button;
  border-radius: 50px;
  border: none;
  color: white;
  font-size: 22px;
  font-weight: 900;
  letter-spacing: 1px;
  cursor: pointer;
  background: 
  linear-gradient(336deg, rgba(237, 106, 94, .9), rgba(0,255,0,0) 70.71%),
  linear-gradient(117deg, rgba(76, 224, 179, .8), rgba(0,0,255,0) 70.71%),
  linear-gradient(217deg, rgba(55,119,113, .8), rgba(255,0,0,0) 70.71%)
}


@media(max-width:750px){
  .login--button{
    height: 50px;
  }

  .error{
    margin-top: 10px;
  }
}