.register--form__hidden{
  margin-right: -100%;
  display: grid;
  padding: 20px;
  width:0;
  grid-template-columns:1fr 1fr;
  grid-template-rows: 40px 40px 40px 48px;
  gap: 1.8rem;
  grid-template-areas: "first last" "email email" "password password" "button button";
  visibility: hidden;
  transition: all 1s;
  height: 0px;
  overflow: hidden;
  opacity: 0;
  z-index:0;
  
}

.register--form{
  display: grid; 
  visibility: visible;
  margin-right: 0;
  width: 100%; 
  padding: 20px;
  grid-template-columns:1fr 1fr;
  grid-template-rows: 40px 40px 40px 48px;
  gap: 1.8rem;
  grid-template-areas: "first last" "email email" "password password" "button button";
  transition: all .5s;
  overflow: hidden;
  opacity: 1;
  z-index:0;
 
}

.register--form input{
  padding: 0px;
  font-size: 18px;
  width: 100%;
  padding-left: 5px;
  visibility: visible;
  border: none;
  border-bottom: 1px solid var(--clr--secondary--fade);
  color: var(--clr--primary);
}

.register--form__hidden input{
  padding: 0px;
  font-size: 18px;
  width: 100%;
  visibility: hidden;
  padding-left: 5px;
  border: none;
  border-bottom: 1px solid var(--clr--secondary--fade);
  color: var(--clr--primary);
}


.first{
  grid-area: first;
}

.last{
  grid-area: last;
}

.email{
  grid-area: email;
}

.password{
  grid-area: password;
}

.register--button{
  grid-area: button;
  border-radius: 50px;
  border: none;
  color: white;
  font-size: 22px;
  font-weight: 900;
  letter-spacing: 1px;
  cursor: pointer;
  background: 
  linear-gradient(336deg, rgba(237, 106, 94, .9), rgba(0,255,0,0) 70.71%),
  linear-gradient(117deg, rgba(76, 224, 179, .8), rgba(0,0,255,0) 70.71%),
  linear-gradient(217deg, rgba(55,119,113, .8), rgba(255,0,0,0) 70.71%)
}

@keyframes slide-in{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
