.credentials{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  border-radius: 10px;
  margin:  auto;
  height: 80%;
  width: 30%;
  max-width: 40%;
  z-index: 2;
}

.credentials h1{
  font-family: 'Lobster', cursive;
  color: var(--clr--primary);
  font-size: 60px;
  opacity: .8;
 

}

.social--icons{
  display: flex;
  justify-content: space-evenly;
  opacity: .8;
  color: var(--clr--primary);
  font-size: 40px; 
}

.icon{
  padding: 5px 5px;
}

.credentials input {
  border-radius: 0px;

}

::placeholder{
  font-size: 18px;
  opacity: .5;
}

.text{
  text-align: center;
  font-size: 20px;
  opacity: .5;
  margin-bottom: 10px;
}

.text span{
  color: var(--clr--secondary);
  cursor: pointer;
  text-decoration: underline;
}
