.header--container {
  display: flex; 
  justify-content: center;
  align-items: center;
  height: 110px;
  
}

.header {
  position: relative;
}

  .header > .header--icon{
      position: absolute;
      top: 12px;
      left: 15px;
  }

  .header > input {
      padding-left: 50px;
  }

  .header--icon{
    color: var(--clr--primary);
    font-size: 20px;
  }
input {
  height: 45px;
  width: 500px;
  border-radius: 50px;
  font-size: 15px;
  border: 3px solid var(--clr--secondary--fade);
}

::placeholder {
  color: var(--clr--primary);
  opacity: .8;
  font-weight: var(--fnt--weight--thick)
}

.mobile-header--menu-icon{
  display: none;
}



@media(max-width: 750px){
  .header--container{
    display: grid;
    position: relative;
    
    grid-template-areas: "search search menu";
    grid-template-rows: 110px 50px;
    grid-template-columns: 100%;
  }

  .header{
    margin: auto;
    grid-area: search;
  }
 
  input{
    width: 290px;
    height:60px;
    font-size: 25px;
  }

  .header--icon{
    font-size: 30px;
  }

  .header > .header--icon{
    position: absolute;
    top: 15px;
    left: 15px;
}

  ::placeholder{
    font-size: 25px;
    top:15px;
    }

    .mobile-header--menu-icon{
      display: block;
      position: absolute;
      right: 0;      
      padding: 0 15px;
      grid-area: menu;
      font-size: 3rem;
      color: var(--clr--primary);
    }


  }
  @media(max-width: 450px){
    .header--container{
     display: flex;
      width: 100vw
      /* justify-content: center; */
    }
    
    .mobile-header--menu-icon{
      display: flex;
      justify-content: flex-end;
      position:static;
    }
  }