.header--container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 110px;
  
}

.header {
  position: relative;
}

  .header > .header--icon{
      position: absolute;
      top: 12px;
      left: 15px;
  }

  .header > input {
      padding-left: 50px;
  }

  .header--icon{
    color: var(--clr--primary);
    font-size: 20px;
  }
input {
  height: 45px;
  min-width: 500px;
  border-radius: 50px;
  border: 3px solid var(--clr--secondary--fade);
}

::placeholder {
  color: var(--clr--primary);
  opacity: .8;
  font-weight: var(--fnt--weight--thick)
}

@media(max-width: 750px){
  input{
    width: 300px;
  }
}